<!-- <h1>Hi Angular</h1>
<p>{{ title }}</p>

<div>
  <h2>Array Value Access From Ts file with Structures Directives of ngFor</h2>
  <p *ngFor="let color of myArray">
    {{ color }}
  </p>
</div>

<div>
  <h2>Object Value Access From Ts file with Structures Directives of ngFor</h2>
  <ul>
    <li *ngFor="let girls of myObj" class="myproducts">
      <p>ID :{{ girls.id }}</p>
      <p>Name: {{ girls.name }}</p>
      <ng-container
        *ngIf="girls.inStock != 0; then available; else notavailble"
      ></ng-container>
      <ng-template #available>
        last <mark>{{ girls.inStock }}</mark>
      </ng-template>
      <ng-template #notavailble>
        outof Stock
      </ng-template>
    </li>
  </ul>
</div> -->

<!-- <div>
  <h2>Products</h2>
  <app-product></app-product>
</div> -->
<!-- nav.component.html -->

<app-nav></app-nav>
<!--/ nav.component.html -->

<!-- banner-one.component.html -->
<app-banner-one></app-banner-one>
<!--/ banner-one.component.html -->

<!-- products.component.html -->
<app-products></app-products>
<!--/ products.component.html -->

<!-- banner-two.component.html -->
<app-banner-two></app-banner-two>
<!--/ banner-two.component.html -->

<!-- contact-us.component.html -->
<app-contact-us></app-contact-us>
<!--/ contact-us.component.html -->

<!-- banner-three.component.html -->
<app-banner-three></app-banner-three>
<!--/ banner-three.component.html -->

<!-- footer.component.html -->
<app-footer></app-footer>

<!-- footer.component.html -->
