.custnav {
  padding-left: 125px;
}

.dropdown-cust {
  min-width: 300px;
  top: 60px !important;
}
.custnav li a {
  font-size: 18px;
  font-weight: 600;
}

.custnav li a:hover {
  color: #f50057;
}
.sticky1 {
  position: sticky;
  z-index: 10;
}
